* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

section {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  padding: 16px 0 0;
  border-bottom: 1px solid #046bd2;
  margin-bottom: 50px;
  background-color: #046bd2;
  color: #fff;
}

header h1 {
  font-style: italic;
}

.menu > li {
  float: left;
  list-style: none;
  padding: 16px;
  border-top: 4px solid transparent;
}

.menu li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
#sobre-loja {
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.textos {
  float: right;
  padding-left: 24px;
}

.textos h2 {
  border-top: 0;
  margin-top: 0;
  color: #046bd2;
  border-bottom: 1px solid #046bd2;
  margin-bottom: 50px;
  top: 100%;
}

.imagem img {
  margin-left: auto;
  float: left;
  width: 320px;
  height: 320px;
}

#produtos {
  display: grid;
  grid-template-columns: repeat(4, 24%);
  max-width: 1024px;
  width: 100%;
  margin: 10px auto;
}

section h2 {
  display: block;
  border-bottom: 1px solid #046bd2;
  padding: 16px;
  display: flex;
  color: #046bd2;
  margin-top: 36px;
}

.produto {
  margin: 0.5%;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.produto img {
  width: 200px;
  height: 200px;
}

.produto button {
  color: #fff;
  background-color: #046bd2;
  border: #046bd2;
  padding: 8px;
  width: 98%;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

@media screen and (max-width: 640px) {
  .container {
    width: 100%;
    display: block;
  }

  .container h1 {
    margin: 5%;
  }

  .menu > li {
    padding: 0;
    width: 100%;
  }

  #sobre-loja {
    display: block;
    margin-left: 0;
  }

  #sobre-loja img {
    margin-bottom: 18px;
    max-width: 100%;
    width: 90%;
    height: auto;
    margin-left: 5%;
  }

  .textos {
    display: block;
    max-width: 100%;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    align-items: center;
  }

  #produtos {
    max-width: 100%;
    width: 90%;
    display: block;
    justify-content: center;
    font-size: 12px;
  }

  .produto {
    display: block;
    margin: 5%;
    padding: 16px;
  }

  .produto button {
    max-width: 90%;
    align-items: center;
  }

  .produto img {
    max-width: 100%;
    width: 95%;
    height: auto;
    padding-bottom: 8px;
  }

  section h2 {
    max-width: 100%;
    width: 100%;
    margin: 3%;
  }

  .textos p {
    max-width: 100%;
    width: 90%;
    align-items: center;
    margin: 5%;
  }
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
  header {
    padding: 10px;
    margin-right: 0;
  }

  .container {
    display: flex;
    max-width: 100%;
    width: 100%;
    padding: 16px;
    margin: auto 5%;
  }

  .menu > li {
    padding: 10px;
    margin-right: 50px;
  }

  #sobre-loja {
    display: block;
    margin-left: 0;
  }

  #sobre-loja img {
    margin-bottom: 18px;
    max-width: 100%;
    width: 95%;
    height: auto;
    margin: 5%;
  }

  .textos {
    display: block;
    max-width: 100%;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
  }

  #produtos {
    max-width: 100%;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2, 48%);
    margin: auto 5%;
  }

  .produto img {
    max-width: 100%;
    width: 90%;
    height: auto;
    padding-bottom: 8px;
    margin: auto 5%;
  }

  .produto button {
    max-width: 90%;
    align-items: center;
  }

  section {
    max-width: 100%;
    width: 95%;
  }

  section h2 {
    max-width: 100%;
    width: 95%;
    margin: 5%;
  }

  .textos p {
    max-width: 100%;
    width: 90%;
    align-items: center;
    margin: auto;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}
